#wrapper {
    width: 100%;
    border: 1px solid black;
    overflow: auto;
}


html{
    margin-left:8px;
}

 .bs-example{
    	margin: 20px;
    }

#map {
    padding: 10px;
    margin-left:0px;
    width: 900px;
    height: 550px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

table#t01 {
    width:100%;
}

table#t02 {
    width:250px;
    text-align: left;
    vertical-align: top;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
}
th#t01, td#t01 {
    height: auto;
    width: auto;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

th#t02, td#t02 {
    height: auto;
    width: 125px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

table#t02 td:nth-child(even) {
    background-color: #eee;
}
table#t02 td:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}


