/*
.container-fluid{
    max-width: 100%;
<<<<<<< HEAD
    max-height:  calc(98% - 444px);
    margin: -15 -15 0 0;
    width: 100%;
    height: calc(90% - 444px);
=======
    max-height: 90%;
>>>>>>> origin/master
}
*/

.container-map-sidebar{
    max-width : 100%;
    height: 100%;
    position: relative; 
}

#popup {
        padding-bottom: 45px;
}


html{
    margin-left:0px;
}

body{
    max-height: 100%;   
}


.container-fluid {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height:  100%;
    float:left;
    position: fixed
}

#map {
        position: relative;
      }

/*Info1 Box */

#info {
    position: relative;
    height: 1px;
    width: 1px;
    z-index: 100;
  }
  .tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .tooltip.top .tooltip-arrow {
    border-top-color: white;
  }
  .tooltip-inner {
    border: 2px solid white;
    white-space:pre-wrap;
  }


/*
Info2 Box

#info2 {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 100;
  }
  .tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .tooltip.top .tooltip-arrow {
    border-top-color: white;
  }
  .tooltip-inner {
    border: 2px solid white;
  }
*/


 .bs-example{
    	margin: 20px;
    }

#map {
    padding: 10px;
    margin-left:0px;
    width: 100%;
    height: 90%;
}

.dropdown-submenu {
    position: relative;
    z-index: 4000;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

table.tb01 {
    width:100%;
}
table.tb01, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table.tb01 th, td {
    padding: 5px;
    text-align: left;
    vertical-align: top;
}
table.tb01 td:nth-child(1) {
    width: 70%;
}
table.tb01 td:nth-child(2) {
   width: 30%;
    padding: 5px;
}

table.here_tabel {
    width: 100%;
    paddign: 10px;
}

/*table#example th, td {
  font-size:11px
}*/

/* Stuk om de circleout mogelijk te maken */

/* CIRCLE OUT voor slimme meters die NIET werken */

.circleOutNiet {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 0;
  height: 0;
}
.circleOutNiet:before {
  position: relative;
  top: -.8em;
  left: -1em;
  display: block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: 0 auto;
  width: 2em;
  height: 2em;
  border: 0.5em solid #FA8258;              
  border-radius: 100%;
  content: "";
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}
.circleOutNiet:after {
  position: absolute;
  top: -.8em;
  left: -1em;
  display: block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: 0 auto;
  width: 2em;
  height: 2em;
  border: 0.2em solid #FA8258;
  border-radius: 100%;
  content: "";
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: -.5s;
          animation-delay: -.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

/* CIRCLE OUT voor slimme meters die werken */

.circleOutWel {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 0;
  height: 0;
}
.circleOutWel:before {
  position: relative;
  top: -.8em;
  left: -1em;
  display: block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: 0 auto;
  width: 2em;
  height: 2em;
  border: 0.5em solid #58fa82;              
  border-radius: 100%;
  content: "";
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}
.circleOutWel:after {
  position: absolute;
  top: -.8em;
  left: -1em;
  display: block;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: 0 auto;
  width: 2em;
  height: 2em;
  border: 0.2em solid #58fa82;
  border-radius: 100%;
  content: "";
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: -.5s;
          animation-delay: -.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

/*Style voor de toggle button*/

input.switch:empty
{
	margin-left: -999px;
}

input.switch:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
	background-color: #393;
}

input.switch:checked ~ label:after
{
	margin-left: 2em;
}

/*Nodig voor correcte uitlijning checkbox in label element */
label {
    display: block;
    padding-left: 40px;
    text-indent: -15px;
    font-weight: 700;
}

header1 {
display: block;
font-size: 1.8em;
margin-top: -0.3em;
margin-bottom: -0.2em;
font-weight: bold; }

